Tests.ini
.make
*.mak
*.mk
*.tmp
*.swp
*.swo
*.exe
*.obj
*.dep
*.pch
*.pdb
*.lib
*.exp
*.ilk
*.out
*.o
*.a
*.d
*.i
*.gch
*.db
*.log
*.xml
*.html
*.plist
strace_out
compile_flags.txt